body {
  background-color: white;
}

h1 {
  text-align: center;
  font-family: verdana;
  font-size:8vw;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: verdana;
}

/* Change the link color to #111 (black) on hover */
ul li a:hover {
  background-color: #7ac9eb;
}

p {
  font-family: verdana;
  font-size:4vw;
}
ol {font-family: verdana;
  font-size:3vw;
}
